In [7]:
import pandas as pd
import numpy as np

In [8]:
pd.__version__

'2.2.3'

In [10]:
a=pd.DataFrame(np.random.randn(4,8))
a

,0,1,2,3,4,5,6,7
0,-1.595674,0.106440,-0.991716,0.191293,0.475621,-0.055424,-0.525166,-0.185908
1,-0.537591,0.064507,0.118364,0.056898,1.329993,-1.820115,0.153381,0.891849
2,-0.972198,-0.278267,-0.807241,0.326446,0.150180,-1.189183,-1.034968,-0.998141
3,0.244884,-0.551697,-1.254252,-3.381106,-2.189952,-0.003821,-0.874623,-0.096939

In [16]:
df=pd.DataFrame({'A column ':[1,2,3,],'B column ':[4,5,6],'C column ':[7,8,9]})
df

   A column   B column   C column
0          1          4          7
1          2          5          8
2          3          6          9

In [ ]:

for  i in range(5,0,-1):
    print('*'*i)

*****
****
***
**
*

In [10]:
total=5
i=0
while total>0:
    i=i+1
    print('*'*i)
    total=total-1

*
**
***
****
*****

In [11]:
total =5
i=0
while total>0:
  print('*'*total)
  total=total-1

*****
****
***
**
*

In [2]:
for j in range(0,7):
    print('*'*j)

*
**
***
****
*****
******